<%= form_for(@season, :html => { :name => "timeform", :class => "form-horizontal well"}) do |f| %>
  <% if @season.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <%= link_to "x", "#", :class=>"close", :onclick => "document.getElementById('error').style.display='none'" %> 
      <strong>Error! </strong><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:
      <ul>
      <% @season.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :start_date, :class => "date_picker" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :end_date, :class => "date_picker" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :meet_date, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :meet_date, :class => "date_picker" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :active, :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :active, :class=>"checkbox" %>
    </div>
  </div>
  <div class="control-group actions">
    <div class="controls">
      <%= f.submit(:class=>"btn btn-success") %>
    </div>
  </div>
<% end %>
