<h4>Season Manager</h4>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Meet date</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seasons.each do |season| %>
  <tr>
    <td><b><%= season.name %></b></td>
    <td><%= season.start_date.strftime("%D") %></td>
    <td><%= season.end_date.strftime("%D") %></td>
    <td><%= season.meet_date.strftime("%D") %></td>
    <td><%= season.active.to_s.upcase %></td>
    <td>
        <% if can? :update, season %>
          <div class="btn-group">
            <%= link_to 'Details', season, :class => "btn btn-small" %>
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit', edit_season_path(season) %></li>
              <li><%= link_to 'Delete', season, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <li><%= link_to 'Team', teams_url(:season => season.id) %></li>
            </ul>
          </div><!-- /btn-group -->
        <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Season', new_season_path, :class => "btn btn-small btn-primary" %>
