<h4>Families</h4>

<table class="table">
  <tr>
    <th>Family Name</th>
    <th>1st Contact</th>
    <th>2nd Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= family.name %></td>
    <td><%= family.c1_full_name %> (<%= family.c1_relationship %>)</td>
    <td><%= family.c2_full_name %> (<%= family.c2_relationship %>)</td>
    <td>
        <div class="btn-group">
          <%= link_to 'Details', family, :class => "btn btn-small" %>
          <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit', edit_family_path(family) %></li>
            <li><%= link_to 'Delete', family, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div><!-- /btn-group -->
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Family', new_family_path, :class => "btn btn-small btn-primary" %>
