<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @swimmer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @swimmer.last_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @swimmer.gender %>
</p>

<p>
  <b>Dob:</b>
  <%= @swimmer.dob.strftime("%D") %>
</p>

<p>
  <b>Email:</b>
  <%= mail_to(@swimmer.email) %>
</p>

<p>
  <b>Shirt size:</b>
  <%= @swimmer.shirt_size %>
</p>

<p>
  <b>Family:</b>
  <%= @swimmer.family.name %>
</p>


<%= link_to 'Edit', edit_swimmer_path(@swimmer) %> |
<%= link_to 'Back', swimmers_path %>
